.browse {
    display: grid;
    grid-template-rows: 2;

    & > span {
        grid-row: 1;
        padding: 10px;
        font-size: 22px;

        @media (min-width: 1260px) {
            font-size: 26px;
        }
    }

    .features {    
        height: 40px;
        gap: 10px;
    
        @media (min-width: 1260px) {
            height: 60px;
        }
    }

    .products {
        height: fit-content;
        gap: 10px;
        border-radius: 20px;
        padding: 0;
    }

    .slider {	
        grid-row: 2;
        max-width: 100%;
        margin-bottom: 10px;	
        display: flex;	
        align-items: top;
        overflow-x: auto;
    
        &::-webkit-scrollbar{
            display: none;
        }
    
        @media (min-width: 992px) {
            max-width: 992px;
            margin-bottom: 18px;
        }
        @media (min-width: 1260px) {
            max-width: 1260px;        
        }
        .product {
            min-width: 132px;
            height: 260px;
            background: whitesmoke;
            border-radius: 20px;
            position: relative;
            border: 1px solid purple;
    
            @media (min-width: 768px) {
                min-width: 182px;
                height: 305px;
            }
            @media (min-width: 992px) {
                min-width: 188px;
                height: 310px;
            }
            @media (min-width: 1260px) {
                min-width: 199px;
                height: 320px;
            }
        }

        .feature {
            min-width: 240px;
            border: 2px solid black;
            border-radius: 15px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}



